@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;600;700;800;900&display=swap");
body {
  margin: 0;
}
.subMenuClass {
  display: none;
}
.menuClass:hover .subMenuClass {
  display: block;
}
.MuiPaper-root {
  width: 100%;
  border: none !important;
}
.arrow-down-desktop-sent {
  position: absolute;
  bottom: -13px;
  left: 30px;
  width: 0;
  height: 0;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-top: 8px solid #f8991f;
}
.arrow-down-desktop-received {
  position: absolute;
  bottom: -13px;
  left: 42px;
  width: 0;
  height: 0;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-top: 8px solid #f8991f;
}
.scrollbar-class::-webkit-scrollbar {
  width: 0.5rem;
  cursor: pointer;
}
.scrollbar-class::-webkit-scrollbar-track {
  width: "0.4em";
  background-color: #e8e8e8;
}

.scrollbar-class::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.1);
  opacity: 50%;
  border-radius: 6px;
  cursor: pointer;
}
.activityCard{
  max-height: 29rem;
  overflow-y: auto;
}
