@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;600;700;800;900&display=swap");
body {
  margin: 0;
}
.subMenuClass {
  display: none;
}
.menuClass:hover .subMenuClass {
  display: block;
}
.MuiPaper-root {
  width: 100%;
  border: none !important;
}
